/* app.component.scss */


/* styles.scss */
body {
  background-color: #05445e;
  color: #fff;
}
.custom-table {
  background-color: #D4F1F4;
  color: black; /* Text color for table */
}
/* styles.scss */

/* Custom background color for the navbar */
.bg-custom {
  background-color: #189AB4 !important;
}

