/* Apply styles to the custom-body class */
.custom-body {
  background-color: #05445e;
  color: #fff;
}

/* styles.scss */

table.custom-table.table-bordered {
  background-color: #D4F1F4 !important;
  color: black !important;
}
